* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-card-primary: hsla(240, 9%, 89%, 1);
  --bg-card-secondary:hsla(194, 97%, 31%, 1);
  --fc-primary: hsla(240, 6%, 21%, 1);
  --ff-primaruy: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;

  font-family: 'Roboto', sans-serif;

  display: grid;
  height: 100vh;
  width: 100%;

}

main {
  display: flex;
  width: 82rem;
  margin: 0 auto;
  gap: 19.2rem;
  align-items: center;
}

#timer {
  font-family: var(--ff-primaruy);
  font-style: normal;
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
  
  
  text-align: center;
  text-transform: uppercase;
  
  color: var(--fc-primary);
  
  display: flex;
  gap: 5px;
}

.TimerAndControls .controls {
  display: flex;
  gap: 4rem;
}

.TimerAndControls .controls button {
  background: none;
  border: none;
}

#sounds button{
  border: none; 
  width: 138px;
  height: 152px;
  border-radius: 2.4rem;
}

.forest, .rain, .coffeePot, .fireplace {
  background-color: var(--bg-card-primary);
}

button {
  cursor: pointer;
}

.forest svg path,
.rain svg path,
.coffeePot svg path,
.fireplace svg path {
  fill: var(--fc-primary);
} 

.pause svg path {
  fill: var(--fc-primary);
}

.hide {
  display: none;
}

#sounds {
  display: grid;
  grid-template-areas: "a b";
  gap: 3.2rem;
}

.blue {
  background-color: var(--bg-card-secondary);
}

#sounds .blue path {
  fill: #fff;
}







